
.pageLayout, html, body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    background-color: rgb(247, 247, 247);

}

.sidebars {
    flex: 1 1 auto;
}

.calcColumn {
    flex: 1 1 auto;
    padding: 10vh 0;
    max-width: 600px;
    display: flex;
    justify-content: center;
}

.calcBody {
    aspect-ratio: 2 / 3;
    background-color: rgb(247, 247, 247);
    border-radius: 3vh;
    box-shadow: 4vh 4vh 2vh rgb(211, 211, 211);
}

.calcFaceHilight {
    height: 100%;
    width: 100%;
    border-radius: 3vh;
    box-shadow: inset 1vh 1vh 0.5vh white;
}

.calcFaceShadow {
    height: 100%;
    width: 100%;
    border-radius: 3vh;
    box-shadow: inset -1vh -1vh 0.5vh rgb(190, 190, 190)
}

#calcFace {
    height: 100%;
    width: 100%;
    padding: 2vh 2vh;
}

#screen {
    background-color: aquamarine;
    width: 100%;
    height: 100%;
}



